<!-- ดึงข้อมูล ใน file layout.html มาใช้งาน -->
{% extends "frontend/layout.html"%} {% load static %}
<!-- แทรกเนื้อหาเข้าไปในพื้นที่ block content ที่ทำไว้ใน layout.html -->
{% block content%}
<!-- comma คั่นเลข -->
{% load humanize %}

<style>
  * {
    box-sizing: border-box;
  }

  #myInput {
    background-image: url("{% static 'frontend/css/icon/searchicon.png'%}");
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }

  #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
</style>

<section class="section">
  <div class="container">
    <h2>ค้นหาบทความทั้งหมด</h2>
    <div class="form-group">
      <input
        class="fa fa-search"
        type="text"
        id="myInput"
        placeholder="พิมพ์ชื่อบทความที่ต้องการค้นหา"
        value="{{searchdata}}"
        title="Type in a name"
      />
      <input
        onclick="myFunction()"
        type="button"
        value="ยืนยัน"
        class="btn my-2"
      />
    </div>
  </div>
</section>

<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
  <div class="page-wrapper">
    <div class="blog-top clearfix">
      <h4 class="pull-left">
        บทความทั้งหมด <a href="#"><i class="fa fa-rss"></i></a>
      </h4>
    </div>
    <div class="blog-list clearfix">
      <ul id="myUL">
        {% for blog in blogs%}

        <li>
          <a href="{% url 'blogDetail' blog.id %}" title=""
            ><div
              style="
                color: rgb(23, 23, 24);
                font-size: 30px;
                margin-top: 5 px;
                margin-bottom: 5 px;
              "
              class="mt-5 mb-2"
            >
              {{blog.name}}
            </div>
            <div class="blog-box row">
              <div class="col-md-12">
                <div class="post-media">
                  <img src="{{blog.image.url}}" alt="" class="img-fluid" />
                  <div class="hovereffect"></div>
                </div>

                <!-- ดึง รายระเอียด บทความ มาแสดง -->
                <p class="my-0 mt-2">{{blog.description}}</p>
                <div class="blog-meta">
                  <!--  ดึง ชื่อ หมวดหมู่ มาแสดง -->
                  <small class="firstsmall">
                    <!-- href = เรียกใช้งาน searchCategory ใน ไฟล์ url.py -->
                    <a
                      class="bg-orange"
                      href="{% url 'searchCategory' blog.category_id%}"
                      title=""
                      >{{blog.category}}</a
                    ></small
                  >
                  <!-- ดึง วันที่สร้าง มาแสดง -->
                  <small><a href="#" title="">{{blog.created}}</a></small>
                  <!-- ดึง ชื่อ ผู้เขียน มาแสดง -->
                  <small
                    ><a href="{% url 'searchWriter' blog.writer %}" title=""
                      >by {{blog.writer}}</a
                    ></small
                  >
                  <!-- ดึง ยอดคนดู มาแสดง / | intcomma = comma คั่นเลข / int มาจาก views ที่กำหนด ใน model -->
                  <small
                    ><a href="#" title=""
                      ><i class="fa fa-eye"></i> {{blog.views | intcomma}}</a
                    ></small
                  >
                </div>
              </div>
            </div>

            {% endfor %}
          </a>
        </li>
      </ul>

      <script>
        function myFunction() {
          var input, filter, ul, li, a, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          ul = document.getElementById("myUL");
          li = ul.getElementsByTagName("li");
          for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              li[i].style.display = "";
            } else {
              li[i].style.display = "none";
            }
          }
        }
      </script>
    </div>
  </div>
</div>

{% endblock %}
